@media print {
  .book-menu,
  .book-footer,
  .book-toc {
    display: none;
  }

  .book-header{
    display:none;
  }

  main {
    // Fix for https://bugzilla.mozilla.org/show_bug.cgi?id=939897
    display: block !important;

  }
  .book-page{
    margin: 0 1rem;
  }
  .book-page-title-container{
    .book-icon-wrapper{
      display:none;
    }
  }
  .book-blank{
    display:none;
  }
  
  .markdown{
    .book-tabs{
      display:block;
      border:none;
      .book-tabs-content{
        display:block;
        border:1px solid $border-color;
        margin-bottom:2rem;
        border-radius: 0 $border-radius $border-radius $border-radius;
      }
      input[type=radio]:checked+label{
        border-bottom:none;
      }
      label{
        border:1px solid $border-color;
        border-radius: $border-radius $border-radius 0 0;
        border-bottom:none;
      }
    }
  }
}
